<div class="container mt-4" >
    <h4>Crops Near You</h4>
    <div class="row mt-4">
      <div class="col-md-4 mb-4" *ngFor="let crop of crops">
        <div class="card h-100 shadow" (click)="viewCropDetails(crop.id)" style="cursor: pointer;">
          <img [src]="crop.imageBase64" class="card-img-top" alt="Crop Image" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ crop.cropName }}</h5>
            <p class="card-text">₹{{ crop.pricePerKg }}/Kg</p>
            <p class="card-text">Quantity: {{ crop.quantity }} Kg</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  