<div class="sidebar p-3" style="height: 100vh; width: 240px; position: fixed; background-color: #e9f7ef;">
  <ul class="nav flex-column fw-semibold fs-5">
    <li *ngIf="role === 'Admin'" class="nav-item mb-1">
      <a 
        class="nav-link text-dark" 
        routerLink="/crops" 
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-card-list me-2"></i> Crops
      </a>
    </li>
    <li *ngIf="role === 'Farmer'" class="nav-item mb-1">
      <a 
        class="nav-link text-dark" 
        routerLink="/crop-listing" 
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-plus-circle me-2"></i> Post a Crop
      </a>
    </li>
    <li *ngIf="role === 'Dealer'" class="nav-item mb-1">
      <a 
        class="nav-link text-dark" 
        routerLink="/crops-near-you" 
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-geo-alt me-2"></i> Crops Near You
      </a>
    </li>
    <li *ngIf="role === 'Dealer'" class="nav-item mb-1">
    <a 
      class="nav-link text-dark" 
      routerLink="/my-transactions" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-receipt-cutoff me-2"></i> My Transactions
    </a>
  </li>
    
  </ul>
</div>
