<div class="product-container" *ngIf="!isLoading; else loading" style="padding-left: 100px;">
  <div class="product-image">
    <img [src]="crop.imageBase64" alt="{{ crop.cropName }}">
  </div>

  <div class="product-details">
    <h2>{{ crop.cropName }}</h2>
    <p class="price">₹{{ crop.pricePerKg }}/Kg</p>
    <div class="farmer-details">
      <p><strong>Quantity Available:</strong> {{ crop.quantity }} Kg</p>
      <p><strong>Description:</strong> {{ crop.description }}</p>
      <h5>Farmer Details:</h5>
      <p><strong>Name:</strong> {{ crop.farmerName }}</p>
      <p><strong>Contact:</strong> {{ crop.farmerPhoneNumber }}</p>
      <p><strong>Location:</strong> {{ crop.street }}, {{ crop.city }}, {{ crop.state }} - {{ crop.zipCode }}</p>
    </div>

    <button class="btn btn-success mt-4" (click)="buyNow()">
      <i class="bi bi-bag-check-fill"></i> Buy Now
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
